/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

/* @font-face {
    font-family: 'Open Sans';
    
} */

:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
    --bg-rd: #B20000;
    --hov-rd: #cb2323;

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;

    color-scheme: light !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: swap;
}

/* javascript alert thing */

header {
    display: none !important;
}

footer {
    display: none;
}

main {
    display: none;
}

p {
    line-height: normal;
}

#js_alert {
    position: absolute;
    top: calc(50% - 110px); left: calc(50% - 200px);
    width: 400px;
    height: 220px;
    background-color: var(--theme-bl);
    /* opacity: 0.9; */
    border-radius: 20px;
    /* box-shadow: 0px 0px 45px 40px #074c9c; */
    /* animation: moveX 7s linear 0s infinite alternate, moveY 8.4s linear 0s infinite alternate; */
    h2 {
        text-align: center;
        padding: 10px;
        padding-bottom: unset;
        color: #fff;
    }
    p {
        text-align: center;
        margin: 10px;
        padding: 10px;
        padding-top: unset;
        color: #fff;
    }
}

/* DVD form logo style animation */
/* @keyframes moveX { from { left: 0; } to { left: calc(100% - 400px); } }

@keyframes moveY { from { top: 0; } to { top: calc(100% - 220px); } } */

/* font test ----------------- */
h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    width: 98%;
    font-size: large;
    /* align-self: end; */
    text-align: end;
    justify-self: end;
    /* color: #5cd6ff; */
    color: #ade1f2f2;
    margin: 1%;
}

p, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
/* ------------------------ */

html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white !important;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* @media (prefers-color-scheme: dark) {
    head#tab_icon {
        content:url("/images/logos/icon_white.ico");
    }
} */

/* DROPDWON MENU ----------------------------------------------------- */
.menu {
    height: min-content;
    overflow: hidden;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* align-content: center; */
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;

    
}

.menu a {
    /* for open sans -----  */
    font-weight: 700;
}

.menu a.normal, a.current {
    float: right;
    text-align: center;
    padding: 14px 16px;
}

.menu .normal {
    color: var(--theme-bl);
    text-decoration: none;
}

.current {
    color: var(--theme-rd);
    text-decoration: solid underline 3px;
    text-underline-offset: 5px;
}

/* ensures the RijnMUN 2024 btn also changes colour when hovered */
.dropbtn:hover, .dropbtn:focus {
    color: var(--theme-rd)
}

.menu .current, .normal {
    margin-top: 10px;
    font-size: 18px;
    /* font-weight: 700; */
}

header .logo_container img.logo {
    width: 120px;
    height: auto;
    float: left;
    padding: 0 0 0 20px;
}

.logo_container {
    width: 29%;
}

.dropdown {
    float: right;
    padding: 14px 16px;
    overflow: hidden;
    color: inherit;
}

.dropbtn {
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.dropdown-content {
    transition: opacity 0.2s;
    opacity: 0%;
    position: absolute;
    margin-top: 12px;
    background-color: var(--bg-rd);
    min-width: 160px;
    box-shadow: 5px 10px 7px 2px rgba(0,0,0,0.2);
    z-index: 0;
    font-size: 14px;
    border-radius: 15px;
}

.dropdown-content a {
    float: none;
    /* color: black; */
    color: var(--theme-wh);
    /* background-color: var(--theme-bl); */
    /* background-color: var(--theme-rd); */
    /* background-color: var(--bl-txt); */
    background-color: var(--bg-rd);
    font-weight: 500;
    padding: 14px 16px;
    text-decoration: none;
    display: none;
    text-align: left;
}

.dropdown-content a:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dropdown-content a:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
  
.dropdown-content a:hover {
    background-color: var(--hov-rd);
    /* background-color: var(--theme-rd); */
}

/* @media screen and (min-width: 767px) { */
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
    z-index: 999;
    opacity: 100%;
    transition: opacity 0.2s;
    border: none;
    a { display: block; }
}

/* text in upper banner becomes theme-red on hover */
.menu .normal:hover {
    /* color: var(--bl-txt); */
    color:var(--theme-rd);
    text-decoration-color: var(--theme-rd);
    /* text-decoration: 3px dashed underline; */
    text-underline-offset: 5px;
}

.normal .dropdown:hover {
    /* color: var(--bl-txt); */
    color: var(--theme-rd);
    /* text-decoration: 3px dashed underline; */
    text-underline-offset: 5px;
}

.menu .current .dropbtn {
    color: var(--theme-rd);
    text-decoration: 3px solid underline;
    text-underline-offset: 5px;
}

.current .dropbtn:hover, .dropbtn:focus{
    color: var(--theme-rd);
    /* text-decoration: 3px dashed underline; */
    text-underline-offset: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu .icon {
    display: none;
}

/* mobile support dropdown HERE */
.toggle ul {
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

/* .toggle a moved underneath .toggle class */
/* .toggle a {
    text-decoration: none;
    color: black;
} */

.toggle {
    /* even if display:block, it is overridden by display:none in the html, so the dropdown does not show when webpage is first loaded */
    display: block;

    /* used for transition */
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;

    /* design of the open dropdown, copied from .toggle.responsive in mobile.css */
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #6c0024;
    opacity: 0.95;
    float: none;
    text-align: left;
}

.toggle a {
    /* design of the open dropdown, copied from .toggle.responsive in mobile.css */
    display: block;
    color: white;
    background-color: #6c0024;
    padding: 4px;

    text-decoration: none;
}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    position: relative;
    top: calc(var(--i)*1px);
}

/* TITLE DESIGN of every page -------------------------*/
/* old code */
/* 
.title {
    background-color: #235690;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/

.title {
    width: 100;
    display: block;
    /* display: flex; */
    /* flex-direction: row; */

    /* numbers in order: top-right-bottom-left */
    /* DONT DARE CHANGE THE PADDING NOR THE MARGIN OR ELSE ALL THE CONTAINERS IN ALL THE PAGES WILL BE MIS-LIGNED */
    padding: 2% 3% 3% 2%;
    background-color: var(--theme-bl);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: white;
    /* padding-left: 7%; */
    /* padding-bottom: 1%; */
    width: 90%;

    /* DONT DARE CHANGE THE PADDING NOR THE MARGIN OR ELSE ALL THE CONTAINERS IN ALL THE PAGES WILL BE MIS-LIGNED */
    /* change with caution! */
    margin: 2.5%;
}

/* FOOTER DESIGN ----------------------------- */
footer {
    background-color: var(--theme-bl);
}

.f_container {
    background-color: var(--theme-bl);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ftr {
    padding-top: 1%;
    padding: 2%;
    color: white;
}

.ftr ul {
    width: 300px;
    list-style: none;
    text-decoration: none;
    padding: unset;
}

.ftr ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
    line-height: normal;
}

.ftr a {
    color: inherit;
    text-decoration: none;
}

.ftr p {
    margin: unset;
}

.f a:hover {
    text-decoration: underline;
}

.ftr i {
    padding-right: 15px;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: unset;
    margin-bottom: 20px;
}

.map {
    padding-left: 2%;
    margin-top: 2%;
}

.ft {
    padding-top: 1%;
    padding: 2%;
    padding-left: 5%;
    color: white;
}

.ft ul {
    list-style: none;
    text-decoration: none;
    padding: unset;
}

.ft ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
    line-height: normal;
}

.ft a {
    color: inherit;
    text-decoration: none;
}

.f {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    width: 65%;
    padding-top: 2%;
    /* padding-left: 5%; */
    padding-right: 3%;
}

.at:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1150px)  {
    .f {
        width: 98vw;
    }
    
    .map_div {
        display: flex;
        width: 98vw;
        justify-content: center;
        padding-bottom: 2%;
    }
}

.map_div {
    margin-top: 20px;
    padding-right: 7%;
}

/* .map_div iframe {
    border-radius: 5px;
} */
/* This doesn't render all the borders, so I'll look into it later */

/* Countdown timer */

.countdown {
    width: 300px;
    padding-top: 20px;
}

.timer {
    padding-right: 8%;
    padding-top: 1%;
    padding: 2%;
    color: white;
}

.tm_tbl {
    text-align: center;
}

.countdown tr {
    height: 50px;
}

.countdown td {
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 530;
}

.timer h4 {
    padding-left: 9px;
}

.map_div {
    padding-right: 4%;
}

.map_div iframe {
    border-radius: 10px;
}

.copyright {
    color: #becbf7;
    /* color: #5B95D7; mid-blue */
    font-size: 14px;
    text-align: center;
    margin: unset;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-top: 30px; */
}

.socials h4 {
    /* padding-right: 30px; */
    padding: unset;
    margin: unset;
    align-self: center;
}

.insta, .tiktok {
    margin-top: 30px;
    margin: unset;
    padding: unset;
}

.insta {
    /* margin-right: 15px; */
    width: 50px;
    height: 50px;
}

.tiktok {
    margin-bottom: 4px;
    /* margin-left: 15px; */
    width: 37px;
    height: 42px;
}

.secs_div, .mins_div, .hours_div, .days_div {
    display: flex;
    justify-content: center;
    p {

        font-family: 'Courier New', Courier, monospace;
        font-weight: 530;
    }
}

/* scrollup button */
#scrollup {
    display: block;
    position: fixed;
    right: 20px; bottom: 20px;
    opacity: 0%;
    transition: all 0.5s;

    /* background-color: #444; */
    /* background-color: var(--theme-rd); */
    background-color: var(--bg-rd);
    /* background-color: var(--mid-bl); */
    /* background-color: var(--hov-rd); */
    box-shadow: 3px 3px 4px #444;

    border-radius: 30%;
}

#scrollup:hover {
    cursor: default;
}

#scrollup i {
    color: #fff;
    margin: 10px;
    padding-right: 1px;
    padding-left: 1px;
}

/* CUSTOM CONTEXT MENU */
.rcmenu {
    width: 200px;
    position: absolute;
    display: none;
    /* box-shadow: 0 0 5px 2px #333; */
    @media (prefers-color-scheme: light) {
        /* border: 1px solid #000; */
        background-color: #ccc;
        color: #000;
    }
    @media (prefers-color-scheme: dark) {
        /* border: 1px solid #fff; */
        background-color: #333;
        color: #fff;
    }
    padding: 10px;
    border-radius: 7px;
    p {
        padding: 5px 5px 5px 7px;
        text-decoration: none;
        margin: unset;
        @media (prefers-color-scheme: light) {
            color: #000;
        }
        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
        font-size: 14px;
    }
    p:hover {
        border-radius: 7px;
        cursor: pointer;
        @media (prefers-color-scheme: light) {
            background-color: #aaa;
        }
        @media (prefers-color-scheme: dark) {
            background-color: #555;
        }
    }
    .links {
        padding: 5px 0 0 0;
    }
    #rccopy {
        display: none;
    }
}

