h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.game .stickman {
    display: flex;
    justify-content: center;
    #top {
        opacity: 0;
        position: relative;
        width: 170px;
        height: 5px;
        background-color: #000;
        margin: 10px 0 0 0;
    }
    #center {
        display: flex;
        flex-direction: row;
    }
    #side {
        opacity: 0;
        position: relative;
        width: 5px;
        height: 200px;
        background-color: #000;
    }
    #bottom {
        opacity: 0;
        position: relative;
        width: 170px;
        height: 5px;
        background-color: #000;
        margin: 0 0 10px 0;
    }
    #center #inside {
        display: flex;
        flex-direction: column;
        width: 115px;
        #row1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #diagonal {
                opacity: 0;
                width: 5px;
                height: 50px;
                margin: -10px 0 0 13px;
                background-color: black;
                border: 2.5px black;
                transform: rotate(45deg);
            }
            #rope {
                opacity: 0;
                width: 5px;
                height: 15px;
                background-color: #000;
            }
        }
        #row2 {
            margin-top: -25px;
            margin-right: -19px;
            display: flex;
            flex-direction: row;
            justify-content: end;
            #head {
                opacity: 0;
                width: 36px;
                height: 36px;
                border: 4px solid #000;
                border-radius: 50%;
            }
        }
        #row3 {
            display: flex;
            justify-content: end;
            width: 120px;
            #left_arm {
                opacity: 0;
                width: 5px;
                height: 40px;
                background-color: #000;
                transform: rotate(35deg);
                margin-top: 7px;
                margin-right: 6px;
            }
            #body {
                opacity: 0;
                width: 5px;
                height: 50px;
                background-color: #000;
            }
            #right_arm {
                opacity: 0;
                width: 5px;
                height: 40px;
                background-color: #000;
                transform: rotate(-35deg);
                margin-top: 7px;
                margin-right: -5px;
                margin-left: 6px;
            }
        }
        #row4 {
            display: flex;
            justify-content: end;
            #left_leg {
                opacity: 0;
                width: 5px;
                height: 45px;
                background-color: #000;
                transform: rotate(30deg);
                margin-top: -5px;
                margin-right: 16px;
            }
            #right_leg {
                opacity: 0;
                width: 5px;
                height: 45px;
                background-color: #000;
                transform: rotate(-30deg);
                margin-top: -5px;
                margin-right: -10px;
            }
        }
    }
}

.game {
    display: flex;
    flex-direction: row;
}

.word_area, .guessed {
    width: 38%;
}

.stickman {
    width: 24%;
}

.word {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 10px 10px 10px;
    p {
        margin: 10px;
        font-size: 35px;
    }
}

.new_game {
    display: none;
    justify-content: center;
    margin: 15px;
    button {
        width: 100px;
        height: 30px;
    }
}

.guessed {
    margin: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    p.char {
        text-align: center;
        background-color: #ddd;
        border-radius: 10%;
        margin: 10% 15%;
        padding: 5px;
    }
    p.char:hover {
        background-color: #ccc;
        cursor: pointer;
    }
}

.msg p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .game {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .word_area, .guessed, .stickman {
        width: 100%;
    }
    .guessed {
        margin: 20px 0 20px 0;
    }
    h1 {
        margin-top: 20px;
    }
    h3 {
        margin-bottom: 10px;
    }
}