:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
    --bg-rd: #B20000;
    --hov-rd: #cb2323;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

img.logo {
    width: 100px !important;
    padding: 0 0 0 10px !important;
}

.title {
    width: 100vw;
    overflow-wrap: normal;
    display: block;
    /* padding: 30px; */
    padding-right: unset;
    padding-left: unset;
    background-color: var(--theme-bl);
    justify-content: start;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    color: white;
    padding-bottom:1%;
    width: 90%;
    margin: 2%;
    padding-right: unset;
    margin-right: unset;
}

.menu .current, .normal {
    display: none;
}

.menu .icon {
    float: right;
    display: block;
    font-size: 45px;
    /* padding-top: 5px; */
    /* padding-right: 10px; */
    color: black;
    /* padding-bottom: 10px; */
    margin: unset;
    padding: 10px;
}

.toggle .main {
    font-weight: 550;
    font-size: 17px;
}

.toggle ul ul {
    padding-left: 25px;
}

.toggle {
    z-index: 10000;
}

/* css of mobile dropdown is now in base.css */
/* .toggle.responsive {
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #6c0024;
    opacity: 0.95;
    float: none;
    display: block;
    text-align: left;
}

.toggle.responsive a {
    display: block;
    color: white;
    background-color: #6c0024;
    padding: 4px;
} */

.f_container {
    overflow-wrap: break-word;
    display: block;
    font-size: 14px;
    width: 100vw;
}

.ftr {
    margin-right: 5px;
    margin-left: 5px;
}

.ft ul {
    width: 110px;
    /* padding-left: 10px; */
    padding-left: unset;
}

.ftr ul {
    margin-right: 5px;
    width: auto;
    padding-right: 5px;
}

.ftr, .ft {
    padding: unset;
    width: auto;
    margin-top: 20px;
}

.map_div {
    width: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-right: unset;
}

.ft h4 {
    /* padding-left: 10px; */
    padding-left: unset;
}

.f_contact {
    /* overflow-wrap: break-word; */
    width: 95vw;
}

.ft {
    width: 25vw;
    padding-left: 0.5%;
}

.f {
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.timer {
    padding-left: unset;
    padding-top: 40px;
}

.timer h4 {
    padding-left: unset;
}

.timer td .days, #days {
    padding-left: unset;
}

.socials {
    width: 90vw;
}


/* scrollup button */
